
/* h1{
    background-color: black;
} */

/* #first{
    background-color: aqua;
} */

/* h1,h2{
    background-color: blue;
} */

/* h2[draggable="true"]{
    background-color: blueviolet;
} */

/* section p{
    background-color: aqua;
} */


section>p{
    background-color: aquamarine;
}
