
.first{
    background-color: yellow;
    height: 200px;
    width: 250px;

}

.second{
    background-color: aqua;
    height: 200px;
    width: 250px;

}

span{
    display: inline-block;
    background-color: green;
    height: 200px;
    width: 250px;
    margin: 20px;


}