

/* *{ */
    /* background-image: url(./pexels-ferarcosn-190819.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center;
    background-attachment: fixed; */
/* } */
/* 
h1{

    font-size: 2em;


} */

/* div{

    font-size: 2rem;
} */

h1{
    font-size: 2em;
}
